@page
@model ProyectoPlanilla.Pages.Empleados.IndexModel

<h2>Empleados</h2>

<a asp-page="./Create" class="btn btn-success">Nuevo Empleado</a>
<form method="get">
    <input type="text" name="Filtro" value="@Model.Filtro" placeholder="Buscar por nombre o documento..." />
    <button type="submit">Buscar</button>
</form>

@if (!string.IsNullOrEmpty(Model.MensajeError))
{
    <div class="alert alert-danger">@Model.MensajeError</div>
}

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Puesto</th>
           
        </tr>
    </thead>
    <tbody>
    @foreach (var empleado in Model.Empleados)
    {
        <tr>
            <td>@empleado.Nombre</td>
            <td>@empleado.ValorDocumentoIdentidad</td>
            <td>@empleado.Puesto</td>
            <td>
                <a asp-page="./Editar" asp-route-id="@empleado.id" class="btn btn-primary btn-sm">Editar</a>
                <a asp-page="../Planilla/PlanillaSemanal" asp-route-idEmpleado="@empleado.id" class="btn btn-info">Impersonar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
